@page
@model Lagerstyring.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
<form method="post">
  <p>Vil du logge ud?</p>
  <button class="btn btn-outline-danger">Logout</button>
</form>
